{% extends 'core/base.html' %} {% load static %} {% block breadcrumb %}
<li class="breadcrumb-item">Home</li>
<li class="breadcrumb-item">Projects</li>
<li class="breadcrumb-item active">{{project.name}}</li>
{% endblock breadcrumb%} {% block content %}
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong>{{ project.name }} </strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6">
              <div class="callout callout-dark">
                <small class="text-muted">Total task assigned</small>
                <br />
                <strong class="h4">{{ total_tasks }}</strong>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="callout callout-danger">
                <small class="text-muted">Tasks completed </small>
                <br />
                <strong class="h4"
                  >{{ completed_tasks}} of {{ total_tasks}}</strong
                >
              </div>
            </div>
          </div>
          <hr class="mt-0" />

          <div class="row">
            <div class="col-sm-6">
              <div class="callout callout-dark">
                <small class="text-muted">Project Deadline</small>
                <br />
                <strong class="h4">{{ project.dead_line }}</strong>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="callout callout-danger">
                <small class="text-muted">Status </small>
                <br />
                {% for task in tasks %}
                <strong class="h4">
                  {% if task.status == '1' %}
                  <span class="badge badge-info w-full">Inprogress</span>
                  {% elif task.status == '2' %}
                  <span class="badge badge-danger w-full">Stuck</span>
                  {% elif task.status == '3' %}
                  <span class="badge badge-danger w-full">Blocked</span>
                  {% elif task.status == '4' %}
                  <span class="badge badge-success w-full">Done</span>
                  {% else %}
                  <span class="badge badge-success w-full">Approved!</span>
                  {% endif %}
                </strong>
                {% endfor %}
              </div>
            </div>
          </div>

          <hr class="mt-0" />

          <ul class="horizontal-bars type-2">
            <li>
              <i class="fa fa-percent"></i>
              <span class="title">Percentage Done</span>
              <span class="value">{{ percentage_complete|floatformat }}%</span>
              <div class="bars">
                <div class="progress progress-xs">
                  <div
                    class="progress-bar bg-warning"
                    role="progressbar"
                    style="width: {{ percentage_complete|floatformat }}%"
                    aria-valuenow="43"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </li>
            <hr class="mt-10" />
            <div class="row">
              <div class="col-sm-12">
                <div class="">
                  <small class="text-muted">Project Description</small>
                  <br />
                  <strong class="h4">{{ project.description }}</strong>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>

      <br />
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong>Tasks</strong>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Assigned To</th>
            <th>Assigned By</th>
            <th>Status</th>
            <th>Due</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
            <td>{{ task.task_name }}</td>
            <td>{{ task.assign.all|join:', ' }}</td>
            <td>{{ task.project.assign.all|join:', ' }}</td>
            <td>
              {% if task.status == '1' %}
              <span class="badge badge-info w-full">Inprogress</span>
              {% elif task.status == '2' %}
              <span class="badge badge-danger w-full">Stuck</span>
              {% elif task.status == '3' %}
              <span class="badge badge-danger w-full">Blocked</span>
              {% elif task.status == '4' %}
              <span class="badge badge-success w-full">Done</span>
              {% else %}
              <span class="badge badge-success w-full">Approved!</span>
              {% endif %}
            </td>
            <td>
              {% if task.due == '1' %}
              <span class="badge bg-danger">On Due</span>
              {% elif task.due == '2' %}
              <span class="badge bg-success">Overdue</span>
              {% else %}
              <span class="badge bg-info">Done</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
